{% extends 'attendence/base.html' %}
{% load static %}

{% block main_content %}
<div class="container">
    Details for Course - {{ course.name }} ({{ course.semester.name }})<br>
    Primary Faculty - {{ course.faculty_primary }}
    <ul>
        Secondary Faculty:<br>
        {% for faculty in course.faculty_secondary.all %}
        {{ faculty.name }}
        {% empty %}
        No Seconday Faculty
        {% endfor %}
    </ul>
    <br><br>
    <ul>
        Students Enrolled in this course
        {% for student in course.students.all %}
        <li>{{ student.name }}</li>
        {% empty %}
        <li>No Student Enrolled</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}