{% extends 'attendence/base.html' %}
{% load static %}
{% load add_attr %}

{% block main_content %}
<div class="container">
    <h2>Create New Student</h2>
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
			<div class="form-group row">
				<label for="{{ field.id_for_label }}" class="col-4 col-form-label">{{ field.label }}</label>
				<div class="col-8">
					{{ field|add_attr:"form-control" }}
					{% if field.help_text %}
					<small class="form-text text-muted">{{ field.help_text }}</small>
					{% endif %}
				</div>
			</div>
			{% endfor %}
			<!-- <div class="form-group row d-flex justify-content-center">
				<button type="submit" class="btn btn-outline-success w-50 d-none" id="btn-submit">Update</button>
			</div> -->
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
</div>
{% endblock %}